<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comit.appointment.modules.sys.dao.IllegalsMapper" >
  <resultMap id="BaseResultMap" type="com.comit.appointment.modules.sys.entity.Illegals" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="ILLEGAL_NAME" property="ILLEGAL_NAME" jdbcType="VARCHAR" />
    <result column="ILLEGAL_TYPE" property="ILLEGAL_TYPE" jdbcType="VARCHAR" />
    <result column="ILLEGAL_STATUS" property="ILLEGAL_STATUS" jdbcType="VARCHAR" />
    <result column="SORT" property="SORT" jdbcType="VARCHAR" />
    <result column="PUBLIC_STATUS" property="PUBLIC_STATUS" jdbcType="VARCHAR" />
    <result column="TIPS" property="TIPS" jdbcType="VARCHAR" />
    <result column="REMARKS1" property="REMARKS1" jdbcType="VARCHAR" />
    <result column="REMARKS2" property="REMARKS2" jdbcType="VARCHAR" />
    <result column="REMARKS3" property="REMARKS3" jdbcType="VARCHAR" />
    <result column="REMARKS4" property="REMARKS4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ILLEGAL_NAME, ILLEGAL_TYPE, ILLEGAL_STATUS, SORT, PUBLIC_STATUS, TIPS, REMARKS1, 
    REMARKS2, REMARKS3, REMARKS4
  </sql>
  
   <!-- sql -->
    <!-- 通过条件分页查询，返回总记录数 -->
  <select id="selectPageCount" parameterType="com.comit.appointment.modules.sys.entity.Page"  resultType="java.lang.Integer">
    select count(1) from illegals
  </select>
    <!--查找记录列表  -->
    <select id="selectPage" resultMap="BaseResultMap" parameterType="com.comit.appointment.modules.sys.entity.Page" >
    select 
    <include refid="Base_Column_List" />
    from illegals
	ORDER BY ID DESC
	 limit #{start},#{rows}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from illegals
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from illegals
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.comit.appointment.modules.sys.entity.Illegals" >
    insert into illegals (ID, ILLEGAL_NAME, ILLEGAL_TYPE, 
      ILLEGAL_STATUS, SORT, PUBLIC_STATUS, 
      TIPS, REMARKS1, REMARKS2, 
      REMARKS3, REMARKS4)
    values (#{ID,jdbcType=INTEGER}, #{ILLEGAL_NAME,jdbcType=VARCHAR}, #{ILLEGAL_TYPE,jdbcType=VARCHAR}, 
      #{ILLEGAL_STATUS,jdbcType=VARCHAR}, #{SORT,jdbcType=VARCHAR}, #{PUBLIC_STATUS,jdbcType=VARCHAR}, 
      #{TIPS,jdbcType=VARCHAR}, #{REMARKS1,jdbcType=VARCHAR}, #{REMARKS2,jdbcType=VARCHAR}, 
      #{REMARKS3,jdbcType=VARCHAR}, #{REMARKS4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.comit.appointment.modules.sys.entity.Illegals" >
    insert into illegals
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="ILLEGAL_NAME != null" >
        ILLEGAL_NAME,
      </if>
      <if test="ILLEGAL_TYPE != null" >
        ILLEGAL_TYPE,
      </if>
      <if test="ILLEGAL_STATUS != null" >
        ILLEGAL_STATUS,
      </if>
      <if test="SORT != null" >
        SORT,
      </if>
      <if test="PUBLIC_STATUS != null" >
        PUBLIC_STATUS,
      </if>
      <if test="TIPS != null" >
        TIPS,
      </if>
      <if test="REMARKS1 != null" >
        REMARKS1,
      </if>
      <if test="REMARKS2 != null" >
        REMARKS2,
      </if>
      <if test="REMARKS3 != null" >
        REMARKS3,
      </if>
      <if test="REMARKS4 != null" >
        REMARKS4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="ILLEGAL_NAME != null" >
        #{ILLEGAL_NAME,jdbcType=VARCHAR},
      </if>
      <if test="ILLEGAL_TYPE != null" >
        #{ILLEGAL_TYPE,jdbcType=VARCHAR},
      </if>
      <if test="ILLEGAL_STATUS != null" >
        #{ILLEGAL_STATUS,jdbcType=VARCHAR},
      </if>
      <if test="SORT != null" >
        #{SORT,jdbcType=VARCHAR},
      </if>
      <if test="PUBLIC_STATUS != null" >
        #{PUBLIC_STATUS,jdbcType=VARCHAR},
      </if>
      <if test="TIPS != null" >
        #{TIPS,jdbcType=VARCHAR},
      </if>
      <if test="REMARKS1 != null" >
        #{REMARKS1,jdbcType=VARCHAR},
      </if>
      <if test="REMARKS2 != null" >
        #{REMARKS2,jdbcType=VARCHAR},
      </if>
      <if test="REMARKS3 != null" >
        #{REMARKS3,jdbcType=VARCHAR},
      </if>
      <if test="REMARKS4 != null" >
        #{REMARKS4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.comit.appointment.modules.sys.entity.Illegals" >
    update illegals
    <set >
      <if test="ILLEGAL_NAME != null" >
        ILLEGAL_NAME = #{ILLEGAL_NAME,jdbcType=VARCHAR},
      </if>
      <if test="ILLEGAL_TYPE != null" >
        ILLEGAL_TYPE = #{ILLEGAL_TYPE,jdbcType=VARCHAR},
      </if>
      <if test="ILLEGAL_STATUS != null" >
        ILLEGAL_STATUS = #{ILLEGAL_STATUS,jdbcType=VARCHAR},
      </if>
      <if test="SORT != null" >
        SORT = #{SORT,jdbcType=VARCHAR},
      </if>
      <if test="PUBLIC_STATUS != null" >
        PUBLIC_STATUS = #{PUBLIC_STATUS,jdbcType=VARCHAR},
      </if>
      <if test="TIPS != null" >
        TIPS = #{TIPS,jdbcType=VARCHAR},
      </if>
      <if test="REMARKS1 != null" >
        REMARKS1 = #{REMARKS1,jdbcType=VARCHAR},
      </if>
      <if test="REMARKS2 != null" >
        REMARKS2 = #{REMARKS2,jdbcType=VARCHAR},
      </if>
      <if test="REMARKS3 != null" >
        REMARKS3 = #{REMARKS3,jdbcType=VARCHAR},
      </if>
      <if test="REMARKS4 != null" >
        REMARKS4 = #{REMARKS4,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comit.appointment.modules.sys.entity.Illegals" >
    update illegals
    set ILLEGAL_NAME = #{ILLEGAL_NAME,jdbcType=VARCHAR},
      ILLEGAL_TYPE = #{ILLEGAL_TYPE,jdbcType=VARCHAR},
      ILLEGAL_STATUS = #{ILLEGAL_STATUS,jdbcType=VARCHAR},
      SORT = #{SORT,jdbcType=VARCHAR},
      PUBLIC_STATUS = #{PUBLIC_STATUS,jdbcType=VARCHAR},
      TIPS = #{TIPS,jdbcType=VARCHAR},
      REMARKS1 = #{REMARKS1,jdbcType=VARCHAR},
      REMARKS2 = #{REMARKS2,jdbcType=VARCHAR},
      REMARKS3 = #{REMARKS3,jdbcType=VARCHAR},
      REMARKS4 = #{REMARKS4,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>